<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand text-center mx-3">
        <img src="..\assets\Cubic-Telecom-Logo-Colour.png" width="50" heigth="50" class="d-inline-block align-middle" alt="cubic-logo">
        <span class="fs-3 fw-bolder">cubic</span><span class="fs-2 fst-italic" style="font-family: cursive;color: #87C80A;">Fit</span>
    </a>
    <span class="mx-3">
        <button type="button" class="btn btn-secondary" [routerLink]="'/dashboard'"><i class="fa fa-home p-1"></i>Home</button>
    </span>
</nav>